/*#logo { position: absolute; top: 10px; left: 20px; }*/
h1 { text-align: center; position: relative; top: 30px; }
#box1 { position: absolute ; top: 730px; left: 20px; padding: 0px; margin: 0px;}
#box2 { position: absolute ; top: 730px; left: 200px; padding: 0px; margin: 0px;}
#box3 { position: absolute ; top: 730px; left: 415px; padding: 0px; margin: 0px;} 
#box4 { position: absolute ; top: 730px; left: 740px; padding: 0px; margin: 0px;} 
#advanced { position: absolute; top: 900px; left: 740px; }
#submitbutton { position: absolute; top:900px; left: 30px;}
p { padding:0px; margin:5px;}
#hidden { display: none; } 
